.parent {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 14 / 5 / 15;
    justify-self: self-end;
}

.div2 {
    grid-area: 8 / 14 / 9 / 15;
    justify-self: self-end;
    align-self: self-end;
}

.div3 {
    grid-area: 1 / 8 / 9 / 13;
}

.div4 {
    grid-area: 1 / 5 / 2 / 7;
}

.div5 {
    grid-area: 3 / 5 / 5 / 7;
}

.div6 {
    grid-area: 1 / 1 / 2 / 5;
}

.div7 {
    grid-area: 3 / 1 / 5 / 5;
}

.div8 {
    grid-area: 8 / 1 / 9 / 2;
}

.div9 {
    grid-area: 8 / 5 / 9 / 6;
}

.desc-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Optional for transition reveal */
    pointer-events: none;
}

.desc-block:first-child {
    position: relative;
    pointer-events: auto;
}

.active {
    color: white;
}

#drag-area {
    touch-action: pan-y;
    /* Allow only vertical scrolling, prevent horizontal */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}